* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Times New Roman PSMT", serif;
	background-color: #e8e8e8;
}

.container {
	max-width: 1190px;
	margin: 120px 120px;
	padding: 0 135px;
}

.container h1 {
	color: #273d46;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
	opacity: 0.6;
	letter-spacing: 2.8px;
	text-align: center;
}

.container p {
	text-align: center;
	font-weight: 400;
	color: #273d46;
	margin-top: 15px;
	font-size: 36px;
}

.borderedImg {
	margin-top: 70px;
}

.borderedImg img {
	box-shadow: 0 0 0 15px #ffffff;
	position: relative;
}

.mainText p {
	color: #273d46;
	opacity: 0.8;
	font-size: 24px;
	font-weight: 400;
	margin-top: 70px;
	text-align: justify;
}

.list {
	margin: 65px 0 0 0;
	font-size: 20px;
}

.list li {
	list-style-type: none;
	background: url(../img/check_icon.png) left no-repeat;
	padding: 0 0 0 40px;
	margin: 0 0 10px 0;
}

.borderedImg .line1 {
	padding: 290px 0 0 0;
}

.borderedImg .line2 {
	padding: 290px 0 0 250px;
}

.line1 {
	opacity: 0.5;
	display: inline-block;
	border-top: 3px solid #b4cfcd;
	width: 1100px;
	transform: rotate(-45deg);
	position: absolute;
	margin: 230px 0 0 -160px;
}

.line2 {
	opacity: 0.5;
	display: inline-block;
	border-top: 3px solid #b4cfcd;
	width: 1000px;
	transform: rotate(-45deg);
	position: absolute;
	margin: 230px 0 0 -160px;
}

.botton {
	margin: 60px 0 0 0;
	width: 199px;
	height: 44px;
	background: rgba(128, 183, 179, 0.54);
	border: 1px solid rgba(128, 183, 179, 0.54);
	border-radius: 60px;
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
}

.botton p {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}